.vs/DirectX9-Guides/v15/ipch/d72cb0c1244f22c3.ipch
.vs/DirectX9-Guides/v15/ipch/d413fe8719387737.ipch
.vs/DirectX9-Guides/v15/Browse.VC.db
.vs/DirectX9-Guides/v15/.suo
DirectX9-Guides/Debug/DirectX9-Guides.tlog/CL.read.1.tlog
DirectX9-Guides/Debug/DirectX9-Guides.tlog/CL.command.1.tlog
DirectX9-Guides/Debug/vc141.pdb
DirectX9-Guides/Debug/vc141.idb
DirectX9-Guides/Debug/DirectX9-Guides.log
DirectX9-Guides/Debug/DirectX9-Guides.tlog/link.command.1.tlog
DirectX9-Guides/Debug/DirectX9-Guides.tlog/DirectX9-Guides.lastbuildstate
DirectX9-Guides/Debug/DirectX9-Guides.pch
DirectX9-Guides/Debug/Main.obj
DirectX9-Guides/Debug/DirectX9-Guides.tlog/link.write.1.tlog
DirectX9-Guides/Debug/DirectX9-Guides.tlog/CL.write.1.tlog
DirectX9-Guides/Debug/DirectX9-Guides.tlog/link.read.1.tlog
